/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'LineSeedTW';
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;   
}


/* ==================================== */
/* LINE SEED - Thin */
/* ==================================== */
@font-face {
    font-family: 'LineSeedTW';
    src: url('./assets/fonts/LINESeedTW_OTF_Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
/* ==================================== */
/* LINE SEED - Regular */
/* ==================================== */
@font-face {
    font-family: 'LineSeedTW';
    src: url('./assets/fonts/LINESeedTW_OTF_Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* ==================================== */
/* LINE SEED - Bold */
/* ==================================== */
@font-face {
    font-family: 'LineSeedTW';
    src: url('./assets/fonts/LINESeedTW_OTF_Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* ==================================== */
/* LINE SEED - Extra Bold */
/* ==================================== */
@font-face {
    font-family: 'LineSeedTW';
    src: url('./assets/fonts/LINESeedTW_OTF_Eb.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}



.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 740px;
}

.background-color {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        black 22%,
        white 100%
    );
    z-index: 1;
}

.background-image1 {
    position: absolute;
    top: -10px;
    right: -100px;
    width: 800px;
    z-index: 5;
}

@media (max-width:430px) {
    .background-image1 {
        width: 200px;
        width: auto;
        overflow: hidden;
    }
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 1000px;
    font-size: 300px;
    font-weight: 100;
    color: rgb(45, 45, 45);
    white-space: normal; 
    word-break: break-word;
    z-index: 3
}

@media (max-width:430px) {
    .h1 {
        font-size: 30px;
        color: salmon;
        overflow: hidden;
    }
}

.overlay-block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    position: absolute;
    top: 200px;
    padding: 30px;
    width: 55%;
    min-width: 400px;
    height: 1280px;
    background-color: white;
    z-index: 10;
}

@media (max-width:1280px) {
    .overlay-block1 {
    display: block;
    position: absolute;
    top: 200px;
    padding: 30px;
    width: 55%;
    min-width: 400px;
    height: 1280px;
    background-color: rgb(255, 124, 124);
    z-index: 10;
}
}


.icon {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1280px) {
    .icon { 
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    }
}

.icon-mask {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    /* === 遮罩範圍 === */
    clip-path: inset(200px 100px at 80% 50%); 
    z-index: 12;
}

@media (max-width:1280px) {
    .icon-mask {
        width: 80%;
    max-width: 600px;
    min-width: 300px; 
    height: 300px;   
    clip-path: inset(200px 100px at 80% 50%); 
    }
}


.info {
    grid-area: 1 / 2 / 2 / 2;
    margin-top: 190px;
}

@media (max-width:1280px) {
    .info {
    margin-top: 0px;
    margin-left: 10%;
    margin-bottom: 40px
}

}


.info2 {
    grid-area: 2 / 1 / 2 / 3;
    margin-left: 20%;
}

@media (max-width:1280px) {
    .info2 {
    margin-left: 10%;
}

}





/* 文字設定的部分 */

.name {
    font-family: 'LineSeedTW';
    font-size: 65px;
    color: 	#272727;
    font-weight: 800;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.subtitle {
    font-weight: 700;
    font-size: 16px;
}

.subtitle-24 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
}

.green {
    font-family: 'LineSeedTW';
    color: #70bdbd;
}

.title-i {
    font-style: italic;
}

.content {
    font-family: 'LineSeedTW';
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 300;
    line-height: 26px;
}

.block {
    height: 18px; 
    width: 10px;
    background-color: #d4d4d4;
    margin-right: 10px;
    display: inline-block;
    transform: skewX(-20deg);
}
